NEXT_PUBLIC_SENTINEL_API=http://localhost:8000
NEXT_PUBLIC_SUPABASE_URL=https://njlknflqvybpynkqdlmu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5qbGtuZmxxdnlicHlua3FkbG11Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2NTg5OTksImV4cCI6MjA4MDIzNDk5OX0.eOuo89sueZYc_mCmzcuRPz0FqU5qjNymqlIoiU0Z4ug
